<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>
<body>
    <h1> what would you like to see? </h1>
    <div class="buttons1">   <form action="/images" method="POST" class="buttons">
        <button type="submit" value="cats" name="choice">cats</button>
        <button type="submit" value="shibes" name="choice">dogs</button>
        <button type="submit" value="birds" name="choice">birds</button>
      </form>
    </div>
</body>
</html>